/node_modules
/lib
/tmp
/*.0x
.env
*.m2ts
*.tar
*.log
*.swp
*.tmp
*.tsbuildinfo
test.*
.DS_Store

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
